-e git+https://github.com/Chicodev30/geonode-mapstore-client-chico.git@main#egg=django_geonode_mapstore_client
-e git+https://github.com/Chicodev30/geonode-importer-chico@main#egg=geonode-importer
-e git+https://github.com/Chicodev30/geonode-chico.git@main#egg=GeoNode
